@media screen and (min-width: 768px) {

    #menu {
        display: none;
    }

    #nav {
        display: block;
    }

    .navigation {
        display: flex;
        gap: 1rem;
        list-style: none;
    }
}